* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.range {
  position: relative;
  width: 100%;
  max-width: 26.2rem;
  margin: 3.2rem auto;
}
.range__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.range__title {
  font-size: 1.2rem;
  line-height: 1.25;
  color: #1f2041;
  text-transform: uppercase;
  font-weight: 700;
}
.range__wrap {
  position: relative;
  max-width: 30rem;
  width: 100%;
  height: 3rem;
}
.range__count {
  font-size: 1.2rem;
  line-height: 1.25;
  color: rgba(31, 32, 65, 0.3137254902);
  letter-spacing: 0.02rem;
}
.range__field {
  position: absolute;
  width: 100%;
  height: 1rem;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}
.range__field::-webkit-slider-thumb {
  pointer-events: all;
  width: 3rem;
  height: 3rem;
  border-radius: 0;
  border: 0 none;
  -webkit-appearance: none;
          appearance: none;
}
.range__slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.range__track {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 1;
  height: 0.7rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.1450980392);
}
.range__range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(180deg, #6fcf97, #66d2ea);
  height: 0.7rem;
}
.range__thumb {
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0;
  border: 0 none;
  border-radius: 50%;
  border: 0.3rem solid #ffffff;
  background-color: #6fcf97;
  background: linear-gradient(180deg, #6fcf97, #66d2ea);
  -webkit-appearance: none;
  pointer-events: all;
  cursor: pointer;
  z-index: 3;
}
.range__thumb--left {
  left: 25%;
  transform: translate(-1rem, -0.5rem);
}
.range__thumb--right {
  right: 25%;
  transform: translate(1rem, -0.5rem);
}